anytree==2.12.1
asttokens==2.4.1
build123d @ git+https://github.com/Windfisch/build123d@154c1eba410a4bbf0a0d6bfde3200a8b9ec1d798
cachetools==5.2.1
cadquery-ocp==7.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
ezdxf==1.3.0
fonttools==4.51.0
idna==3.7
ipykernel==6.29.4
ipython==8.24.0
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==1.26.4
numpy-quaternion==2023.0.3
numpy-stl==3.1.1
ocp-tessellate==2.0.6
ocp-vscode==2.1.1
ocpsvg==0.2.1
orjson==3.10.3
packaging==24.0
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.2
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-lib3mf==2.3.1
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-utils==3.8.2
pyzmq==26.0.3
requests==2.32.2
scipy==1.13.1
six==1.16.0
stack-data==0.6.3
svgelements==1.9.6
svgpathtools==1.6.1
svgwrite==1.4.3
tornado==6.4
traitlets==5.14.3
trianglesolver==1.2
typing_extensions==4.12.0
urllib3==2.2.1
wcwidth==0.2.13
webcolors==1.13
websockets==11.0.3
